.carousel {
  margin-top: 0px;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.centrar {
  text-align: center;
}

.mi_barra {
color: white;
}

.foto {
  display: block;
  margin:auto;

}
.titulo_carousel {
  font-size: 40px;
  text-align: center;
}

.titulo_contacto {
  font-size: 20px;
  text-align:left;
}

.parrafo_imagen {
  font-size: 12px;
  text-align: left;
  line-height: 5px;
}

.panel-footer {
  text-align: left;
  background-color: #000000;
}
.panel-body {
  text-align: center;
}
.texto_pie {
  color: white;
}
